* {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  /* align-items: center; */
  justify-content: space-around;
}

.card-title {
  width: 90%;
}

.delBtn {
  display: flex;
  align-self: right;
  font-size: larger;
}

#inputToDo {
  width: 95%;
  padding-left: 0.5cm;
}
